.list-selector-container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-top: 20px; /* Add some space above the container */
}

.list-selector-container h2 {
  font-family: 'Poppins', sans-serif;
  color: #2c3e50;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.list-select-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.list-select-wrapper label {
  margin-right: 10px;
  color: #333;
}

.list-selector-container select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  margin-right: 10px; /* Add space between select and button */
  flex-grow: 1; /* Allow the select to take up available space */
}
.select-list-button {
   background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  margin-right: 10px;
  transition: background-color 0.2s ease;
}
  .list-selector-container button {
   background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  margin-right: 10px;
  transition: background-color 0.2s ease;
}

.list-selector-container button:hover {
  background-color: #2980b9;
}

.create-list-form {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.create-list-form h2 {
      font-size: 1.2rem; /* Smaller heading for create list */
  margin-bottom: 10px;
}

.create-list-form label {
  display: block;  /*Make label full width*/
  margin-bottom: 5px;
  color: #333;
}

  .create-list-form input[type="text"] {
  width: calc(100% - 22px); /* was getting a weird margin*/
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 10px; /* Add space below the input */
}
.error-message {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}