/* src/App.css */

body {
  font-family: 'Inter', sans-serif;
  background-color: #1a1a1a;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.app {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #2d2d2d;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
  border-bottom: 2px solid #4d90fe;
  padding-bottom: 10px;
}

.task-container {
  display: flex;
  gap: 20px;
  flex-grow: 1;
  justify-content: center;
}

.task-list-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.task-list-container h2 {
  font-family: 'Poppins', sans-serif;
  margin-top: 0;
  color: #ffffff;
  border-bottom: 1px solid #444;
  padding-bottom: 8px;
  margin-bottom: 10px;
}

.task-list {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 10px;
}

/* Scrollbar Styling */
.task-list::-webkit-scrollbar { width: 8px; }
.task-list::-webkit-scrollbar-track { background: #2d2d2d; }
.task-list::-webkit-scrollbar-thumb { background: #4d4d4d; border-radius: 4px; }
.task-list::-webkit-scrollbar-thumb:hover { background: #666; }


.task-item {
  background-color: #3a3a3a;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.task-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  border-color: #4d90fe;
}
.task-item.available-task:hover{
  border-left: 4px solid #007bff;
}
.task-item.completed {
  opacity: 0.6;
}

.task-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
}

.task-title {
  flex-grow: 1;
  font-size: 1rem;
  color: #ffffff;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.subtask-due-date{
font-size: 0.7rem;
  color: #444;
margin-left: auto;
}
.subtask-title.completed {
  text-decoration: line-through;
}
.toggle-icon {
  margin-left: auto;
  font-size: 1.2rem;
  color: #777;
}
