body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #1a1a1a;
  color: #e0e0e0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: #2d2d2d;
  padding: 2px 4px;
  border-radius: 4px;
  color: #e0e0e0;
}
